<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


        <ion-grid class="ion-text-center grid-center">
          <ion-row >
            <ion-col class="ion-text-center">
      <img src="assets/login.png" alt="login-logo" width="250px" height="250px">




      <ion-item class="input-center">
        <ion-label position="floating" >Email</ion-label>
        <ion-input [(ngModel)]="user.email"></ion-input>
      </ion-item>
      <br>
      <ion-item class="input-center">
        <ion-label position="floating" >Password</ion-label>
        <ion-input type="password"[(ngModel)]="user.password"></ion-input>
      </ion-item>
      <br>

      <ion-button expand="block"  class="btn-log"(click)="logMeIn()">login</ion-button>
      Don't have an account,
      <button expand="block" clear  class="text-btn"(click)="register()">Register</button>
    </ion-col>
    </ion-row>
    </ion-grid>


</ion-content>
