<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Welcome To Our Application
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card>
    <ion-card-header>
      <center>
      <img src="assets/welcome.png" alt="login-logo" width="250px" height="250px">
    </center>
    </ion-card-header>

    <ion-card-content>
      <center><ion-button color="danger" (click)="GoLogin()">Get Started</ion-button><br>

      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </center>
    </ion-card-content>
  </ion-card>
</ion-content>
